--
-- PostgreSQL database dump
--

\restrict wV6IH7HR3HxG2eZQIZeKvFIactaDUVymlVxqzkrbISRQfGyBEbamQlQl9Rwmq69

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: trg_fornecedor_gera_id_texto(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.trg_fornecedor_gera_id_texto() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  IF NEW.idfornecedor IS NULL OR NEW.idfornecedor = '' THEN

    NEW.idfornecedor := lpad(nextval('fornecedor_id_seq')::text, 6, '0');

  END IF;

  RETURN NEW;

END;

$$;


ALTER FUNCTION public.trg_fornecedor_gera_id_texto() OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: entradas_mercadoria; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.entradas_mercadoria (
    ordem_compra double precision DEFAULT 0 NOT NULL,
    data_entrada date,
    nro_nfe character varying(255) NOT NULL,
    item double precision DEFAULT 0 NOT NULL,
    produto_id character varying(25) DEFAULT '0'::character varying NOT NULL,
    descricao_produto character varying(255),
    qtde_recebida double precision,
    filial_id integer,
    custo_unitario numeric(12,4) DEFAULT 0 NOT NULL
);


ALTER TABLE public.entradas_mercadoria OWNER TO admin;

--
-- Name: fornecedor; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.fornecedor (
    idfornecedor text,
    razao_social text,
    "Trigger" bigint
);


ALTER TABLE public.fornecedor OWNER TO admin;

--
-- Name: fornecedor_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.fornecedor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fornecedor_id_seq OWNER TO admin;

--
-- Name: pedido_compra; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.pedido_compra (
    pedido_id double precision,
    data_pedido timestamp without time zone,
    item double precision,
    produto_id text,
    descricao_produto text,
    ordem_compra double precision,
    qtde_pedida double precision,
    filial_id double precision,
    data_entrega timestamp without time zone,
    qtde_entregue double precision,
    qtde_pendente double precision,
    preco_compra double precision,
    fornecedor_id text
);


ALTER TABLE public.pedido_compra OWNER TO admin;

--
-- Name: produtos_filial; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.produtos_filial (
    filial_id double precision,
    produto_id text,
    descricao text,
    estoque double precision,
    preco_unitario double precision,
    preco_compra double precision,
    preco_venda double precision,
    fornecedor_id text
);


ALTER TABLE public.produtos_filial OWNER TO admin;

--
-- Name: venda; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.venda (
    venda_id bigint NOT NULL,
    data_emissao date NOT NULL,
    horariomov character varying(8) DEFAULT '00:00:00'::character varying NOT NULL,
    produto_id character varying(25) DEFAULT ''::character varying NOT NULL,
    qtde_vendida double precision,
    valor_unitario numeric(12,4) DEFAULT 0 NOT NULL,
    filial_id bigint DEFAULT 1 NOT NULL,
    item integer DEFAULT 0 NOT NULL,
    unidade_medida character varying(3)
);


ALTER TABLE public.venda OWNER TO admin;

--
-- Data for Name: entradas_mercadoria; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: fornecedor; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.fornecedor (idfornecedor, razao_social, "Trigger") FROM stdin;
F1	Fornecedor 1 LTDA	1
F2	Fornecedor 2 LTDA	2
F3	Fornecedor 3 LTDA	3
F4	Fornecedor 4 LTDA	4
F5	Fornecedor 5 LTDA	5
F6	Fornecedor 6 LTDA	6
F7	Fornecedor 7 LTDA	7
F8	Fornecedor 8 LTDA	8
F9	Fornecedor 9 LTDA	9
F10	Fornecedor 10 LTDA	10
F11	Fornecedor 11 LTDA	11
F12	Fornecedor 12 LTDA	12
F13	Fornecedor 13 LTDA	13
F14	Fornecedor 14 LTDA	14
F15	Fornecedor 15 LTDA	15
F16	Fornecedor 16 LTDA	16
F17	Fornecedor 17 LTDA	17
F18	Fornecedor 18 LTDA	18
F19	Fornecedor 19 LTDA	19
F20	Fornecedor 20 LTDA	20
\.


--
-- Data for Name: pedido_compra; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: produtos_filial; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: venda; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: fornecedor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.fornecedor_id_seq', 1, false);


--
-- Name: entradas_mercadoria entradas_mercadoria_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.entradas_mercadoria
    ADD CONSTRAINT entradas_mercadoria_pkey PRIMARY KEY (ordem_compra, item, produto_id, nro_nfe);


--
-- Name: venda pk_consumo; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.venda
    ADD CONSTRAINT pk_consumo PRIMARY KEY (filial_id, venda_id, data_emissao, produto_id, item, horariomov);


--
-- PostgreSQL database dump complete
--

\unrestrict wV6IH7HR3HxG2eZQIZeKvFIactaDUVymlVxqzkrbISRQfGyBEbamQlQl9Rwmq69

