--
-- PostgreSQL database dump
--

\restrict 3qQvAj4WigT0aGtbyne2Q2sKNbxXwDGrXCBu9lVASjrZMYqUON7nq20V1703ia6

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: trg_fornecedor_gera_id_texto(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.trg_fornecedor_gera_id_texto() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  IF NEW.idfornecedor IS NULL OR NEW.idfornecedor = '' THEN

    NEW.idfornecedor := lpad(nextval('fornecedor_id_seq')::text, 6, '0');

  END IF;

  RETURN NEW;

END;

$$;


ALTER FUNCTION public.trg_fornecedor_gera_id_texto() OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: entradas_mercadoria; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.entradas_mercadoria (
    ordem_compra double precision DEFAULT 0 NOT NULL,
    data_entrada date,
    nro_nfe character varying(255) NOT NULL,
    item double precision DEFAULT 0 NOT NULL,
    produto_id character varying(25) DEFAULT '0'::character varying NOT NULL,
    descricao_produto character varying(255),
    qtde_recebida double precision,
    filial_id integer,
    custo_unitario numeric(12,4) DEFAULT 0 NOT NULL
);


ALTER TABLE public.entradas_mercadoria OWNER TO admin;

--
-- Name: fornecedor; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.fornecedor (
    idfornecedor text,
    razao_social text,
    "Trigger" bigint
);


ALTER TABLE public.fornecedor OWNER TO admin;

--
-- Name: fornecedor_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.fornecedor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fornecedor_id_seq OWNER TO admin;

--
-- Name: pedido_compra; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.pedido_compra (
    pedido_id double precision,
    data_pedido timestamp without time zone,
    item double precision,
    produto_id text,
    descricao_produto text,
    ordem_compra double precision,
    qtde_pedida double precision,
    filial_id double precision,
    data_entrega timestamp without time zone,
    qtde_entregue double precision,
    qtde_pendente double precision,
    preco_compra double precision,
    fornecedor_id text
);


ALTER TABLE public.pedido_compra OWNER TO admin;

--
-- Name: produtos_filial; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.produtos_filial (
    filial_id double precision,
    produto_id text,
    descricao text,
    estoque double precision,
    preco_unitario double precision,
    preco_compra double precision,
    preco_venda double precision,
    fornecedor_id text
);


ALTER TABLE public.produtos_filial OWNER TO admin;

--
-- Name: venda; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.venda (
    venda_id bigint NOT NULL,
    data_emissao date NOT NULL,
    horariomov character varying(8) DEFAULT '00:00:00'::character varying NOT NULL,
    produto_id character varying(25) DEFAULT ''::character varying NOT NULL,
    qtde_vendida double precision,
    valor_unitario numeric(12,4) DEFAULT 0 NOT NULL,
    filial_id bigint DEFAULT 1 NOT NULL,
    item integer DEFAULT 0 NOT NULL,
    unidade_medida character varying(3)
);


ALTER TABLE public.venda OWNER TO admin;

--
-- Data for Name: entradas_mercadoria; Type: TABLE DATA; Schema: public; Owner: admin
--

INSERT INTO public.entradas_mercadoria VALUES (1, '2025-02-27', 'NFE1', 1, 'P1', 'Produto 1', 77, 1, 84.3500);
INSERT INTO public.entradas_mercadoria VALUES (2, '2025-01-20', 'NFE2', 1, 'P2', 'Produto 2', 64, 1, 16.6600);
INSERT INTO public.entradas_mercadoria VALUES (3, '2025-02-18', 'NFE3', 1, 'P3', 'Produto 3', 88, 1, 90.3600);


--
-- Data for Name: fornecedor; Type: TABLE DATA; Schema: public; Owner: admin
--

INSERT INTO public.fornecedor VALUES ('F1', 'Fornecedor 1 LTDA', 1);
INSERT INTO public.fornecedor VALUES ('F2', 'Fornecedor 2 LTDA', 2);
INSERT INTO public.fornecedor VALUES ('F3', 'Fornecedor 3 LTDA', 3);


--
-- Data for Name: pedido_compra; Type: TABLE DATA; Schema: public; Owner: admin
--

INSERT INTO public.pedido_compra VALUES (1, '2025-01-02 00:00:00', 1, 'P1', 'Produto 1', 1, 96, 1, '2025-02-27 00:00:00', 10, 86, 46.67, '1.0');
INSERT INTO public.pedido_compra VALUES (2, '2025-01-07 00:00:00', 1, 'P2', 'Produto 2', 2, 14, 1, '2025-01-07 00:00:00', 7, 7, 77.32, '2.0');
INSERT INTO public.pedido_compra VALUES (3, '2025-01-05 00:00:00', 1, 'P3', 'Produto 3', 3, 12, 1, '2025-01-03 00:00:00', 2, 10, 47.82, '3.0');


--
-- Data for Name: produtos_filial; Type: TABLE DATA; Schema: public; Owner: admin
--

INSERT INTO public.produtos_filial VALUES (1, 'P1', 'Produto 1', 88, 42.65, 144.13, 40.79, 'F8');
INSERT INTO public.produtos_filial VALUES (1, 'P2', 'Produto 2', 28, 79.52, 103.56, 174.18, 'F9');
INSERT INTO public.produtos_filial VALUES (1, 'P3', 'Produto 3', 40, 119.5, 24.14, 60.69, 'F10');


--
-- Data for Name: venda; Type: TABLE DATA; Schema: public; Owner: admin
--

INSERT INTO public.venda VALUES (1, '2025-01-11', '08:00:00', 'P1', 5, 78.9300, 1, 1, 'UN');
INSERT INTO public.venda VALUES (2, '2025-03-02', '08:00:00', 'P2', 7, 92.9600, 1, 1, 'UN');
INSERT INTO public.venda VALUES (3, '2025-01-28', '08:00:00', 'P3', 9, 197.6100, 1, 1, 'UN');


--
-- Name: fornecedor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.fornecedor_id_seq', 1, false);


--
-- Name: entradas_mercadoria entradas_mercadoria_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.entradas_mercadoria
    ADD CONSTRAINT entradas_mercadoria_pkey PRIMARY KEY (ordem_compra, item, produto_id, nro_nfe);


--
-- Name: venda pk_consumo; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.venda
    ADD CONSTRAINT pk_consumo PRIMARY KEY (filial_id, venda_id, data_emissao, produto_id, item, horariomov);


--
-- PostgreSQL database dump complete
--

\unrestrict 3qQvAj4WigT0aGtbyne2Q2sKNbxXwDGrXCBu9lVASjrZMYqUON7nq20V1703ia6

